$main-color: #b7974f;
$secondary-color: #806437;
$pure-white: #ffffff;
$text-color-first: #1c1c1c;
$text-color-second: #686a6f;
$gradient:linear-gradient(
    90deg,
    rgba(28, 28, 28, 0.75) 100%,
    rgba(55, 58, 62, 0.75) 100%
  );
